body {
    margin: 0;

}

a {
    color: #aaa;
    text-decoration: none;
 }

nav {
    float:right;
    margin-right: 50px;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

/*main {
    clear:both;
}*/

header { 
    overflow:auto; /*même effet que le "clear both" sur le tag main */
}

.logo {
    width: 200px;
    height: 50px;
    overflow: hidden;
    background-image: url(../images/voiture.png);
    background-repeat: no-repeat;
    background-size: contain;/* cover permet de tronquer le contenu */
    float: left;
}

.col-moitie {
    width: 50%;
    float:left;
}



